/*
 * -------------------------------------------------
 *  Full test config - full-size test dataset
 * -------------------------------------------------
 */

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full-size test dataset for validation'

    // Input files (to be created)
    input       = 'https://raw.githubusercontent.com/BCI-KRP/alternative-splicing-nextflow/main/assets/samplesheet_test_full.csv'
    comparisons = 'https://raw.githubusercontent.com/BCI-KRP/alternative-splicing-nextflow/main/assets/comparisons_test_full.csv'
    
    // TODO: Add full test data URLs when available
}
